.formulario {
	color: #FFF;
	overflow: hidden;
	padding: 15px 0!important;

	& h3 {
		display: block;
		color: #fff;
		padding: 15px!important;
		font-weight: normal;
		font-size: 22px;
	}

	& .form-group {
		display: block;
		margin-bottom: 15px;

		& label {
			display: block;
			font-size: 14px;
			font-weight: bold;
			margin-bottom: 5px;
		}

		& input {
			display: block;
			padding: 8px 10px;
			width: 100%;
			font-size: 14px;
			border: #ccc 1px solid;
			border-radius: 5px;
		}

		& textarea {
			display: block;
			padding: 8px 10px;
			width: 100%;
			font-size: 14px;
			border: #ccc 1px solid;
			border-radius: 5px;
			height: 4em;
		}

	}

	& input[type='submit']
	{
		display: block;
		padding: 8px 15px!important;
		font-size: 14px;
		color: #FFF;
		border: #ccc 1px solid!important;
		border-radius: 5px!important;
		float: left;
	}

	.form-error {
		font-size: 12px;
		padding: 3px 7px!important;
	}

	.form-exito {
		font-size: 14px;
		padding: 3px 7px!important;
	}
}