.anuncio720 {
	width: 100%;
	display: block;

	&__anuncio {
		margin: 15px auto!important;
		display: block;
		overflow: hidden;
	}
}

.anuncio300 {
	width: 100%;
	display: block;

	&__anuncio {
		margin: 15px auto!important;
		display: block;
		overflow: hidden;
	}
}