/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	/*
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border:  5px solid #fff;
	left: -5px;
	background: #fff;
	
	/ fix other elements on the page moving (on Chrome) /
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
    */
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}






.slider1 {
	background: #333;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 465px;
	
	@include desde(movil) {
		height: 455px;
	}

	@include desde(tablet) {
		height: 570px;
	}

	@include desde(web) {
		height: 735px;

	}

	&__slider {
		display: block;
		position: relative;
		overflow: hidden;
		height: 465px;
		width: 100%;
		background: #FFF;
		
		@include desde(movil) {
			height: 455px;
		}

		@include desde(tablet) {
			height: 570px;

		}

		@include desde(web) {
			height: 735px;

		}


		&__li {
			display: block;
			width: 100%;
			overflow: hidden;
			position: relative;
			height: 350px;
			width: 100%;
			
			@include desde(tablet) {
				height: 450px;

			}

			@include desde(web) {
				height: 610px;

			}
		}

		&__imagen {
			width: 100%;

			& img {
				display: block;
				width: 100%;
				height: 340px;

				@include desde(tablet){
					height: 450px;
				}

				@include desde(web){
					height: 600px;
				}
			}
		}

		&__titulo {
			display: block;
			font-weight: bold;
			font-family: $fira;
			text-align: center;
			width: 100%;
			background: #777;
			border-top: #fff 3px solid;
			padding: 10px 5px 5px 5px!important;

			& a {
				display: block;
				width: 100%;
				padding: 0px!important;
				height: 3.5em;
				text-align: center;
				color: #FFF;
				text-decoration: none;
				font-size: 24px;
				line-height: 26px;

				@include desde(movil) {
					font-size: 26px;
					line-height: 29px;
					height: 2.5em;
				}

				@include desde(tablet) {
					font-size: 30px;
					line-height: 35px;
					height: 2.5em;
				}

				@include desde(web) {
					font-size: 36px;
					line-height: 39px;
				}
			}

			@include desde(tablet) {
				padding: 10px 5px;
			}

			& b {
				font-weight: bold;
			}

			&__fecha {
				display: block;
				text-align: right;
				font-size: 16px;
				font-weight: normal;
				margin-top: 5px;
				line-height: 1em;
				border-top: #FFF 1px solid;
				padding: 5px 10px 0px 0px!important;
			}
		}

	}

}


.sliderslaterales {
	display: none; 

	@include desde(web) {
		display: block;
	}
}

.sliderlateral {
	display: block;
	overflow: hidden;
	padding: 0px;
	height: 255px;
	

	&__slider {
		display: block;
		position: relative;
		height: 215px;

		& li {
			height: 225px;
			background: #333;
		}

		& a {
			overflow: hidden;

			& img {
				display: block;
				width: 100%;
				height: 180px;
			}
		}

		&__titulo {
			display: block;
			font-weight: normal;
			font-family: $fira;
			z-index: 99999;
			position: absolute;
			bottom: 0px;
			text-align: center;
			font-size: 16px;
			width: 100%;
			background: $rositat;
			border-top: #FFF 3px solid;
			line-height: 1.2em;
			padding: 5px!important;

			& a {
				width: 100%;
				padding: 10px;
				text-align: center;
				color: #FFF;
				text-decoration: none;
			}
		}
	}
}

.slider4 {
	// height: 240px;
}

